<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- HTML은 대소문자 구분이 없지만 대문자 사용은 자제할 것! -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- meta name="description" content="">
    <meta name="author" content="" -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <title>@ViewData["Title"] - IoT 개인 포트폴리오 웹앱</title>
    <!-- Bootstrap 5 CDN -->
    @*<link rel="stylesheet" href="~/themes//seo_dream/vendor/bootstrap/css/bootstrap.min.css" />*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/themes/Arsha/assets/css/style.css">
    <link rel="stylesheet" href="~/themes/Arsha/assets/vendor/aos/aos.css">
    <link rel="stylesheet" href="~/themes/Arsha/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/themes/Arsha/assets/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/themes/Arsha/assets/vendor/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="~/themes/Arsha/assets/vendor/glightbox/css/glightbox.min.css">
    <link rel="stylesheet" href="~/themes/Arsha/assets/vendor/remixicon/remixicon.css">
    <link rel="stylesheet" href="~/themes/Arsha/assets/vendor/swiper/swiper-bundle.min.css">
    <!-- 기존 추가 CSS -->

    <!-- WYSWYG 에디터 링크 -->
    <link rel="stylesheet" href="~/lib/trumbowyg/ui/trumbowyg.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Toast 메시지창 js 라이브러리용 CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto">
                <a asp-action="Index" asp-controller="Home">
                IoT Portfolio
                <img src="~/iot2.png" alt="" />
                </a>
            </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar bg">
                @if (ViewData["NoScroll"] != "true")
                {
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">홈</a></li>
                    <li><a class="nav-link scrollto" href="#about">스킬</a></li>
                    <li><a class="nav-link scrollto" href="#services">소개</a></li>
                    <li><a class="nav-link scrollto" href="#portfolio">포트폴리오</a></li>
                    <li class="nav-link scrollto"><a asp-action="Index" asp-controller="Board">공지사항</a></li>
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="dropdown">
                            <a href="#"><span>@userManager.GetUserName(User)</span> <i class="bi bi-chevron-down"></i></a>
                                
                                    <ul>
                                        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                        <li><a class="dropdown-item" href="#">@userManager.GetUserName(User)</a></li>
                                        <li class="nav-link scrollto">
                                            <a asp-controller="Account" asp-action="Profile" asp-route-userName="@userManager.GetUserName(User)">
                                                프로필
                                            </a>
                                        </li>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <li class="nav-link scrollto"><a asp-controller="Admin" asp-action="ListRoles">권한관리</a></li>
                                            <li class="nav-link scrollto"><a asp-controller="Portfolio" asp-action="Index">포트폴리오 관리</a></li>
                                        }
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a>
                                            <button class="dropdown-item" href="submit">로그아웃</button>
                                            </a>
                                        </li>
                                        </form>
                                    </ul>
                                
                        </li>
                        @*<li class="scroll-to-section">
                            <a asp-controller="Admin" asp-action="ListRoles">권한관리</a>
                        </li>
                        <li class="scroll-to-section">
                            <a asp-controller="Portfolio" asp-action="Index">포트폴리오 관리</a>
                        </li>*@
                        @*<li class="scroll-to-section">
                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <button type="submit" class="btn btn-link"> @userManager.GetUserName(User)</button>
                            </form>
                        </li>*@
                    }

                    else
                    {
                        <li class="scroll-to-section">
                            <a asp-controller="Account" asp-action="Register">회원가입</a>
                        </li>

                        <li class="scroll-to-section">
                            <a asp-controller="Account" asp-action="Login">로그인</a>
                        </li>
                    }
                    @*<li class="dropdown">
                        <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown">
                                <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="getstarted scrollto" href="#about">Get Started</a></li>*@
                    </ul>
                }
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ======= Hero Section ======= -->
    @if (ViewData["NoScroll"] != "true")
    { 
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>IoT 시스템 프로그래머</h1>
                        <h2>🌱 PKNU Windows Platform IoT Developer Course</h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="#about" class="btn-get-started scrollto">시작하기</a>
                        @*<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>*@
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/themes/Arsha/assets/img/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>
        </section>
    }
    else
    {
        
    }
    <!-- End Hero -->




    <div>
        <!-- 필수!!! -->
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2023 PKNU AC., Ltd. All Rights Reserved.

                        <br>Web Designed by <a rel="nofollow" href="https://bootstrapmade.com/" target="_blank" title="free CSS templates">TemplateMo</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    

    <!-- Scripts -->
    <!-- jQuery & Bootstrap CDN LINKs -->
    @*<script src="~/themes/seo_dream/vendor/jquery/jquery.min.js"></script>
    <script src="~/themes/seo_dream/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <!-- Arsha용 테마를 위해서 개발자 만든 js -->
    <script src="~/themes/Arsha/assets/vendor/aos/aos.js"></script>
    <script src="~/themes/Arsha/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/themes/Arsha/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/themes/Arsha/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/themes/Arsha/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/themes/Arsha/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/themes/Arsha/assets/vendor/php-email-form/validate.js"></script>
    <!-- WYSWYG 에디터용 js & 한국어언어팩 js -->
    <script src="~/lib/trumbowyg/trumbowyg.min.js"></script>
    <script src="~/lib/trumbowyg/langs/ko.min.js"></script>
    <!-- trumbowyg를 site.js에서 부르기 때문에 상위에 trumbowyg에 관련된 js가 먼저 나와야.. -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/themes/Arsha/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>